$small: 480px;
$medium: 880px;

.card {
  margin: 2em 1.5em;
  width: calc(100% - 3em);
  box-sizing: border-box;
  padding: 0;
  border-radius: 1em;
  color: white;
  max-width: 430px;
  .image {
    width: 100%;
    border-radius: 1em 1em 0 0;
    background-color: #6120a1;
    img {
      display: block;
      width: 100%;
      border-radius: 1em 1em 0 0;
      filter: opacity(45%);
    }
  }
  .description {
    text-align: center;
    background-color: #1c1938;
    border-radius: 0 0 1em 1em;
    padding: 1em;
    h2 {
      span {
        color: #a560d5;
      }
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;

      li {
        display: block;
        margin: 1.5em;
      }

      @media screen and (min-width: $medium) {
        li {
          text-align: left;
          display: inline-block;
          margin: 1em 0.5em;
        }
      }

      li span {
        display: block;
      }

      li span:first-child {
        font-size: 1.5em;
        font-weight: bold;
      }
      li span:nth-child(2) {
        font-size: 0.8em;
        text-transform: uppercase;
      }
    }
  }
}
@media screen and (min-width: $small) {
  .card {
    margin: 1em auto;
  }
}
@media screen and (min-width: $medium) {
  .card {
    display: flex;
    flex-direction: row-reverse;
    min-width: calc(880px - 2em);
    .image {
      border-radius: 0 1em 1em 0;
      // background-image: url("../../assets/image-header-desktop.jpg");
      // min-width: 440px;
      // height: 311px;
      img {
        width: calc(440px - 1em);
        min-height: 100%;
        border-radius: 0 1em 1em 0;
      }
    }
    .description {
      padding: 3em;
      box-sizing: border-box;
      border-radius: 1em 0 0 1em;
      min-width: calc(440px - 1em);
      text-align: left;

      h2 {
        font-size: 1.8em;
        margin: 0;
      }
    }
  }
}
