.card {
  margin: 1em;
  width: calc(100% - 2em);
  box-sizing: border-box;
  padding: 0;
  border-radius: 1em;
  color: white;
  .image {
    width: 100%;
    border-radius: 1em 1em 0 0;
    background-color: #6120a1;
    img {
      display: block;
      width: 100%;
      border-radius: 1em 1em 0 0;
      filter: opacity(45%);
    }
  }
  .description {
    background-color: #1c1938;
    border-radius: 0 0 1em 1em;
    padding: 1em;
    h2 {
      span {
        color: #a560d5;
      }
    }
    ul {
      list-style: none;

      li {
        display: block;
        margin: 1.5em;
      }

      li span {
        display: block;
      }

      li span:first-child {
        font-size: 1.5em;
        font-weight: bold;
      }
      li span:nth-child(2) {
        font-size: 0.8em;
        text-transform: uppercase;
      }
    }
  }
}
