body {
  margin: 0;
  padding: 0;
  background-color: #0a0c1b;
}

.App {
  text-align: center;
}

.App-logo {
  position: relative;
  bottom: -14px;
  height: 2em;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 8s linear;
  }
}
.logo-container {
  position: relative;
  display: inline-block;
  margin-left: -10px;
  margin-right: -5px;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}

.code p {
  font-size: 1.5em;
  color: white;
  margin-bottom: 0;
}

.code p a img {
  max-width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
